.hide {
    display: none !important;

    &-desktop {
        @media (min-width: $desktop-min) {
            display: none !important;
        }
    }

    &-tablet {
        @media (min-width: $tablet-min) and (max-width: $tablet-max) {
            display: none !important;
        }
    }

    &-mobile {
        @media (max-width: $mobile-max) {
            display: none !important;
        }
    }
}

.header {
    height: 160px;
}

.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    height: 70px;
}