body {
    font-family: $font-main;
    font-size: 16px;
    line-height: 1.5;
    color: $c-text-main;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: $c-link-main;
    transition: color 0.2s linear;

    &:hover {
        color: $c-link-hover;
    }
}

.wrap {
    background-color: #fff;
    padding: 0 calc((90% - 300px) / 2);

    @media (min-width: $tablet-min) {
        padding: 0 calc((90% - 720px) / 2);
    }

    @media (min-width: $desktop-min) {
        padding: 0 calc((90% - 1200px) / 2);
    }
}

.header {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: inset 0 -1px 0 $c-border;

    transition: all 0.3s ease-in-out;

    &-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        @media (min-width: $tablet-min) {
            margin-right: 40px;
            width: 200px;
        }

        @media (min-width: $desktop-min) {
            width: 300px;
        }

        a {
            display: inline-block;
            width: 100%;
            height: 100%;
        }

        svg {
            display: block;
            margin: 0 auto;
            width: 100%;
            height: 100%;
            fill: $c-highlight;

            @media (max-width: $mobile-max) {
                width: 50px;
                height: 40px;
            }
        }
    }

    &-nav {
        align-self: center;
        flex-grow: 1;

        @media (max-width: $mobile-max) {
            margin-top: 20px;
            width: 100%;
        }
    }

    &-menu {
        display: flex;

        &-item {
            flex: 1 0 0;
            text-align: center;

            &:not(:first-child) {
                box-shadow: inset 1px 0 0 $c-border;
            }
        }
    }
}

.main {
    flex-grow: 1;
    display: flex;

    &-sidebar {
        @media (min-width: $tablet-min) {
            flex-shrink: 0;
            margin-right: 40px;
            padding: 20px;
            border-left: 1px solid $c-border;
            border-right: 1px solid $c-border;
        }

        @media (max-width: $tablet-max) {
            width: 200px;
        }

        @media (min-width: $desktop-min) {
            width: 300px;
        }
    }

    &-content {
        order: 1;
        flex-grow: 1;
        padding: 20px 0;
    }
}

.footer {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
    border-top: 1px solid $c-border;

    &-copyright {
        margin-left: 20px;
    }
}

h1 {
    margin-bottom: 32px;
}

p {
    margin-bottom: 16px;
}

ul:not([class]) {
    li {
        margin-top: 1em;
    }
}

code {
    display: inline-block;
    vertical-align: baseline;
    padding: 0 0.25em;
    background-color: $c-bg-gray;
    border-radius: 0.125em;
}
