$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1279px;
$desktop-min: 1280px;

$font-main: Arial, sans-serif;

$c-text-main: #444;
$c-link-main: #068;
$c-link-hover: lighten($c-link-main, 20%);
$c-highlight: #e80;
$c-bg-main: #fff;
$c-bg-gray: #f0f0f0;
$c-border: #ccc;